* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.heading {
  font-size: 3rem;
  text-shadow: 1.5px 1.5px gray;
  color: #E0E0E0;
  text-align: center;
}

.status {
  font-size: "3rem";
  color: #585858;
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  color: #E0E0E0;
  line-height: 34px;
  width: 12vw;
  height: 20vh;
  text-align: center;
}
